.button {
  background: $blue-gray;
  border: 1px solid whitesmoke;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--justify {
  flex-direction: row;
}
