.header {
  background: $tea-lighten;
  margin:$s-size 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $ss-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__subtitle {
  color: white;
  margin-left: 18px;
}

.header__front {
  color: white;
  margin-left: 280px;

}
