.mt-10 {
    margin-top: 10 !important;
}

.mt-20 {
    margin-top: 20 !important;
}

.margin{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 35px;
    margin-left:5px;
}

.text-margin-right{
    margin-right: 20px;
}

.source-margin-right{
    margin-right: 50px;
}

.text-margin-left {
    margin-left: 250px;
}

.heading-menu{
    margin-right: 10px;   margin-left: 250px;
    color: rgb(84, 152, 230);
}
